<header>
  <nav class="collapse navbar-inverse bg-inverse" id="navbarHeader", role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 py-4">
          <h4 class="text-muted">About the blog</h4>
          <p class="text-muted">Here is my example blog.</p>
        </div>
        <div class="col-sm-4 py-4">
          <h4 class="text-muted">Explore</h4>
          <ul class="list-unstyled">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Articles', articles_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="navbar navbar-inverse bg-inverse">
    <div class="container d-flex justify-content-between">
      <%= link_to 'My Blog', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
