<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group">
    <%= link_to "Existing Articles", articles_path, class: 'list-group-item active' %>
    <%= link_to "New Article", new_article_path, class: 'list-group-item' %>
  </div>
  <%= image_tag("1.jpeg", alt: "Blog", class: "img-rounded", width: "260px")%>
</div>
