<h1> Welcome to my Blog.</h1>
<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group">
    <%= link_to "Existing Articles", articles_path, class: 'list-group-item active' %>
    <%= link_to "New Article", new_article_path, class: 'list-group-item' %>
  </div>
</div>



<!-- <a class="btn btn-secondary" <%= link_to 'Create a new article', new_article_path %>&raquo;</a> -->
